.btn {
  font-size: 12px !important;
  margin: 4% !important;
  padding: 5px !important;
  border-radius: 5px !important;
}

.mb-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-basis: 60px;
  height:auto;
  margin-top: 7px;
  vertical-align: middle;
}

.btn-check:checked+.btn, .btn:checked {
  outline: none ;
  box-shadow: none ;
  border: 1px solid grey ;
}

.btn-check:focus+.btn, .btn:focus {
  outline: none ;
  box-shadow: none ;
  border: 1px solid grey ;
}
