.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
} 

.custom-checkbox > svg {
  height: 15px;
  width: 15px;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  background-color: white;
  fill: white;
}

.custom-checkbox > input:checked + svg {
  fill: green;
}
